@import "../../assets/global.scss";

.tr-score {
  width: 100%;
  height: 100%;

  &--light {
    .tr-score__heading {
      color: color(dark-blue);
    }

    .tr-score__board {
      color: color(dark-blue);
      box-shadow: inset 12px 12px 14px rgba(0, 0, 0, 0.15),
        inset -12px -12px 14px rgba(255, 255, 255, 0.8);
    }
  }

  &--dark {
    .tr-score__heading {
      color: color(white);
    }

    .tr-score__board {
      color: color(white);
      box-shadow: inset 12px 12px 14px rgba(0, 0, 0, 0.8),
        inset -12px -12px 14px rgba(255, 255, 255, 0.1);
    }
  }

  &__heading {
    text-align: center;
    text-transform: uppercase;
    color: color(dark-blue);
    font-size: 16px;
    font-family: "Nunito";
    font-weight: bold;
    letter-spacing: 6px;
    font-stretch: expanded;
    margin-bottom: 10px;
    user-select: none;
  }

  &__board {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-radius: 28px;
    font-size: 32px;
    font-family: "Nunito";
    font-weight: bold;
    letter-spacing: 2px;
  }
}
