@import "../../assets/global.scss";

.tr-next-hold {
  width: 100%;
  height: 100%;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    color: color(dark-blue);
    font-size: 16px;
    font-family: "Nunito";
    font-weight: bold;
    letter-spacing: 6px;
    font-stretch: expanded;
    margin-bottom: 10px;
  }

  &__pieces {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    border-radius: 28px;
    color: color(dark-blue);
    font-size: 32px;
    font-family: "Nunito";
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: inset 12px 12px 14px rgba(0, 0, 0, 0.15),
      inset -12px -12px 14px rgba(255, 255, 255, 0.8);
  }
}
