@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/nunito-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/nunito-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/nunito-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/nunito-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/nunito-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/nunito-v16-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

@function color($colorName) {
  @return map-get($colors, $colorName);
}

$colors: (
  blue: #3d76b5,
  cyan: #53b1fd,
  dark-blue: #023f76,
  green: #43d462,
  purple: #a369b8,
  red: #ff0128,
  yellow: #fbce05,
  white: #edeae9,
  black: #252a2f,
);
