@import url("https://fonts.googleapis.com/css?family=Nunito:bold");

@function color($colorName) {
  @return map-get($colors, $colorName);
}

$colors: (
  blue: #3d76b5,
  cyan: #53b1fd,
  dark-blue: #023f76,
  green: #43d462,
  purple: #a369b8,
  red: #ff0128,
  yellow: #fbce05,
  white: #edeae9,
  black: #252a2f,
);
